.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px dashed var(--yellow-theme-main-color);
}

.container h2{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1rem;
    text-transform: capitalize;
    color: var(--yellow-theme-main-color);
    flex-grow: 1;
}
.container span svg{
    color: var(--yellow-theme-main2-color);
    transition: transform 0.4s ease, color 0.3s ease;
}
.container span svg:hover{
    color: #ffc400;
    transform: scale(1.1);
}